.catalog {
  min-height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
  background: linear-gradient(30deg, rgb(12, 12, 33) 0%, rgba(0,0,0,1) 100%);
}