.header {
  padding: 10px 30px;
  background: linear-gradient(125deg, rgba(0,0,0,1) 5%, rgba(15,17,46,1) 25%, rgba(8,31,36,1) 65%, rgba(28,27,27,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    justify-self: flex-start;

    &-picture {
      width: 70px;
      height: 70px;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    & > h1 {
      font-size: 28px;
      color: white;
      margin-right: 20px;
      text-transform: capitalize;
    }
  }
}